@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #2d2d2d;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: xx-large;
}

.title {
    margin: 30px;
    font-size: larger;
}

.description {
    margin-left: 50px;
    max-width: 70%;
}

.team {
    margin-left: 50px;
    margin-bottom: 30px;
}

.download {
    margin-top: 60px;
    margin-left: 50px;
    width: 15%;
    font-size: large;
}



.back {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

